<!doctype html>
<html>

<head>
    <title>Edit Author</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>

<body>
    <div>
        <div>
            <div class="container">
                <div class=wrapper>
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="test">Edit Author</h2>

                            <div *ngFor="let error of errors">
                                <p class="err">{{ error.message }}</p>
                            </div>

                            <form>
                                <div class="form-group">
                                    <label for="name"> Author: </label>
                                    <input type="text" class="form-control" name="name" [(ngModel)]="authorEdit.name">
                                </div>
                                <button class="btn btn-outline-success btn-success btn-lg"
                                    (click)="editAuthor(authorEdit._id, authorEdit)" type="button">Update</button>
                                <div class="divider"></div>
                                <button type="button" class="btn btn-outline-success btn-primary btn-lg"
                                    [routerLink]="['/index']" value="Cancel">Cancel</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>